<!DOCTYPE html>
<html>
  <head>
    <title>Flask App - Prediction Results</title>
    <style>
      body {
        background-color: #f2f2f2;
        font-family: Arial, sans-serif;
      }
      .container {
        margin: auto;
        max-width: 600px;
        padding: 20px;
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0px 0px 10px #aaaaaa;
      }
      h1 {
        text-align: center;
        margin-bottom: 30px;
      }
      p {
        font-size: 20px;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Flask App - Prediction Results</h1>
      <p>The predicted output is: {{ prediction }}</p>
    </div>
  </body>
</html>
